body{
    background-color: black;
    background-image: url(imagenes/logoexpo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
